<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427319820175-0p6doejrhp4b9dp9d8npolh445c706dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427319820175-0p6doejrhp4b9dp9d8npolh445c706dr</string>
	<key>API_KEY</key>
	<string>AIzaSyBXIio8Wad68de3EWnbxxUluupqjSm_m3c</string>
	<key>GCM_SENDER_ID</key>
	<string>427319820175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FoodRealm</string>
	<key>PROJECT_ID</key>
	<string>foodrealm-be3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrealm-be3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427319820175:ios:5df07a6afed023076295fa</string>
	<key>DATABASE_URL</key>
	<string>https://foodrealm-be3cd.firebaseio.com</string>
</dict>
</plist>